.form{

    padding: 1%;
    margin: 10%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: auto;
    background-color: rgb(235, 235, 235);
    margin-top: 1%;
    border: solid 1px black;
    border-radius: 5px;
    
}

.input{  

    font-family: Arial, Helvetica, sans-serif;
    width: 25%;
    border-radius: 5px;
    border: solid 1px black;
}

.button{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-style: bold;
    width: 10%;
    border-radius: 5px;
    background-color: rgb(76, 111, 208);
    color: white;
    border: solid 1px rgb(15, 16, 99);
}